@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
* {
  box-sizing: border-box;
}

body {
  background-color: #f6f7fb;
  font-family: 'Roboto', 'san-serif';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.magic {
  background-color: #f2c26b;
  color: black;
  font-family: 'Poppins', sans-serif;
  border: 0;
  border-radius: 3px;
  font-size: 16px;
  padding: 12px 20px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  letter-spacing: 1px;
  border: 1px solid black;
  z-index: 100;
}

.magic:focus {
  outline: none;
}

.magic:active {
  box-shadow: none;
  transform: translateY(2px);
}

.boxes {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 500px;
  width: 500px;
  transition: 0.4s ease;
}

.boxes.big {
  height: 600px;
  width: 600px;
}

.boxes.big .box {
  transform: rotateZ(360deg);
}

.box {
  background-image: url("https://media0.giphy.com/media/8CSflsMG1IFos/giphy.gif?cid=ecf05e47uq4g93iup2a03v0ozibquuxvwdpw7pwlpze7pfd8&rid=giphy.gif&ct=g");
  height: 125px;
  width: 125px;
  background-repeat: no-repeat;
  background-size: 500px 500px;
  position: relative;
  transition: 0.4s ease;
}

.box::after {
  content: '';
  background-color: #f2c26b;
  position: absolute;
  top: 8px;
  right: -15px;
  height: 100%;
  width: 15px;
  transform: skewY(45deg);
}

.box::before {
  content: '';
  background-color: #f2c26b;
  position: absolute;
  bottom: -15px;
  left: 8px;
  height: 15px;
  width: 100%;
  transform: skewX(45deg);
}